body {
    background-color: #F9E9BB; 
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    .oculto {
    display: none;
}

}
